.contianer{
    border-radius: 20px;
    padding: 50px 5%;
    margin: 25% 30%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aliceblue;
    height: 390px;
    width: 960px;

}

.recent_post_heading {
    font-size: 32px;
    font-weight: bold;
    font-family: var(--font);
    color: var(--secondary-color);
}
.recent_post_text {
    font-size: 16px;
    font-family: var(--font);
    color: var(--secondary-color);
}
.rp__button {
   
    color: var(--primary-color);
    margin-top: 4%;
    border-radius: 9px;
    padding: 1% 2%;
    border: 1px solid var(--primary-color);
    transition: transform 0.5s ease-in-out;
}

.rp__button:hover {
    transform: translate(0, -2px);
    transition: transform 0.5s ease;
    
}
.main_heading{
    margin-top: 22%;
    margin-left: 5rem;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 48px;
    font-weight: bold;
    font-family: Raleway;    
}

@media (min-width: 350px) and (max-width: 480px){
    .recent_post_heading {
        font-size: 22.98px;   
    }
    .recent_post_text {
        font-size: 11.49px;
    }
    .contianer{
        top: 166px;
        left: -100px;
        height: 88vh;
        width: 410px;
    }    
    .main_heading{
        margin-top: 63%;
        padding-top: 62px;
        margin-bottom: -73px;
        margin-left: 3rem;
        font-size: 22px;
        
    }
    
}


@media (max-width: 640px){
    .recent_post_heading {
        font-size: 22.98px;   
    }
    .recent_post_text {
        font-size: 11.49px;
    }
    .contianer{
        top: 166px;
        left: -100px;
        height: 380px;
        width: 410px;
    }    
    .main_heading{
        margin-top: 63%;
        padding-top: 62px;
        margin-bottom: -73px;
        margin-left: 3rem;
        font-size: 22px;
        
    }
    
}

    
/* 
@media (max-width: 748px){
    .recent_post_heading {
        font-size: 22.98px;   
    }
    .recent_post_text {
        font-size: 11.49px;
    }
    .contianer{
        top: 166px;
        left: -100px;
        height: 413.58px;
        width: 884.61px;
    }    
    .main_heading{
        margin-top: 63%;
        padding-top: 62px;
        margin-bottom: -73px;
        margin-left: 3rem;
        font-size: 22px;
        
    }
} */